@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
@import '../styles/responsive.module.scss';
.container {
    margin-bottom: 300px;
    margin-top: 200px;
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        .left {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            margin-left: 70px;
            p {
                font-size: 22px;
                font-weight: 500;
                color: #fff;
                font-family: PP, helvetica, arial, sans-serif;
                text-transform: uppercase;
                margin: 0;
                @include phoneL {
                    font-size: 14px;
                }
            }
            @include phoneL {
                margin-left: 20px;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-right: 200px;
            .main_description {
                margin-bottom: 40px;
                p {
                    font-size: 36px;
                    font-weight: 500;
                    color: #fff;
                    font-family: PP, helvetica, arial, sans-serif;
                    text-transform: uppercase;
                    margin: 0;
                    @include laptop {
                        font-size: 24px;
                    }
                    @include miniTablet {
                        font-size: 20px;
                        font-weight: 400;
                    }
                    @include phoneL {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                @include tablet {
                    width: 80%;
                }
                p {
                    font-size: 22px;
                    font-weight: 300;
                    color: #fff;
                    font-family: PP, helvetica, arial, sans-serif;
                    @include miniTablet {
                        font-size: 16px;
                    }
                    @include phoneL {
                        font-size: 12px;
                    }
                }
                a {
                    font-size: 22px;
                    font-weight: 300;
                    color: #fff;
                    font-family: PP, helvetica, arial, sans-serif;
                    a:after {
                        position: absolute;
                        content: '';
                        height: 2px;
                        background-color: #fff;
                        width: 50%;
                        margin-left: 15px;
                        top: 50%;
                    }
                    @include miniTablet {
                        font-size: 16px;
                    }
                    @include phoneL {
                        font-size: 12px;
                    }
                }
            }
            @include tablet {
                margin-right: 140px;
            }
            @include phoneL {
                margin-right: 60px;
            }
            @include mobile {
                margin-right: 40px;
            }
        }
    }
}