@import './responsive.module.scss';
.aboutIntro {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    p {
        color: #fff;
        font-size: 85px;
        font-weight: 300;
        font-family: PP, helvetica, arial, sans-serif;
        line-height: 0.9;
        margin: 0;
        padding: 0;
        @include tablet {
            font-size: 45px;
        }
        span {
            font-family: 'Playfair Display', serif;
            font-style: italic;
        }
    }
}