.aboutIntro {
    text-align: center;
    p {
        color: #fff;
        font-size: 85px;
        font-weight: 300;
        font-family: PP, helvetica, arial, sans-serif;
        line-height: 0.9;
        margin: 0;
        padding: 0;
        span {
            font-family: 'Playfair Display', serif;
            font-style: italic;
        }
    }
}