@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
@import '../styles/responsive.module.scss';
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
    margin-top: 200px;
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
        .left {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            p {
                font-size: 22px;
                font-weight: 500;
                color: #fff;
                font-family: PP, helvetica, arial, sans-serif;
                text-transform: uppercase;
                margin: 0;
                @include phoneL {
                    font-size: 14px;
                }
            }
            @include phoneL {
                margin-left: 20px;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            //margin-right: 200px;
            .main_description {
                margin-bottom: 40px;
                p {
                    font-size: 36px;
                    line-height: 50px;
                    font-weight: 500;
                    color: #fff;
                    font-family: PP, helvetica, arial, sans-serif;
                    text-transform: uppercase;
                    margin: 0;
                    @include laptop {
                        font-size: 24px;
                    }
                    @include tablet {
                        font-size: 18px;
                        line-height: 30px;
                    }
                    @include miniTablet {
                        font-size: 20px;
                        font-weight: 400;
                    }
                    @include phoneL {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                @include tablet {
                    width: 80%;
                }
                p {
                    font-size: 22px;
                    font-weight: 300;
                    color: #fff;
                    font-family: PP, helvetica, arial, sans-serif;
                    line-height: 30px;
                    @include tablet {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    @include miniTablet {
                        font-size: 16px;
                    }
                    @include phoneL {
                        font-size: 12px;
                    }
                }
                a {
                    width: fit-content;
                    font-size: 22px;
                    font-weight: 300;
                    color: #fff;
                    margin-top: 50px;
                    font-family: PP, helvetica, arial, sans-serif;
                    @include tablet {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    @include miniTablet {
                        font-size: 16px;
                    }
                    @include phoneL {
                        font-size: 12px;
                    }
                }
                a::after {
                    content: '';
                    display: block;
                    margin-top: 10px;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    transition: 0.4s ease-in-out;
                }
                a:hover::after {
                    content: '';
                    display: block;
                    transform: translateY(8px);
                    width: 100%;
                    height: 1px;
                    background: #fff;
                }
            }
            @include tablet {
                margin-right: 140px;
            }
            @include phoneL {
                margin-right: 60px;
            }
            @include mobile {
                margin-right: 40px;
            }
        }
    }
}