@import '../styles/colors.scss';
@import '../styles/responsive.module.scss';
.aboutDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
    @include laptop {
        flex-direction: row;
    }
    @include tablet {
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin-bottom: 40px;
        @include laptop {
            flex-direction: column;
        }
        .title {
            color: #fff;
            font-weight: 200;
            span {
                font-size: 12px;
                color: $lightRed;
            }
        }
        .text2 {
            width: 400px;
            @include mobile {
                width: 250px;
            }
            p {
                color: #fff;
                font-weight: 200;
                font-size: 13px;
                word-spacing: 3px;
                line-height: 16px;
                span {
                    color: $lightRed;
                }
            }
        }
    }
    .text {
        width: 400px;
        p {
            color: #fff;
            font-weight: 200;
        }
    }
}