.about {
    width: 100%;
    padding-top: 100px;
    .title {
        color: #fff;
        font-family: PP, helvetica, arial, sans-serif;
    }
    .text {
        color: #fff;
        font-family: PP, helvetica, arial, sans-serif;
    }
}