.contact {
    .header {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        .title {
            display: flex;
            justify-content: center;
            h2 {
                color: #fff;
                font-size: 130px;
            }
        }
        .message {
            h3 {
                color: #fff;
                font-size: 40px;
            }
        }
        .mailButton {
            width: fit-content;
            border: 1px solid #fff;
            border-radius: 30px;
            padding-left: 30px;
            padding-right: 30px;
            p {
                color: #fff;
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        p {
            color: #fff;
        }
        .links {
            ul {
                display: flex;
                flex-direction: row;
                list-style: none;
                gap: 10px;
                li {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}