$red: #cb3752;
$green: #43ffd5;
$grey: #111111;
html,
body {
    padding: 0;
    margin: 0;
    font-family: PP, helvetica, arial, sans-serif;
    background-color: $grey;
}

a {
    color: inherit;
    text-decoration: none;
}