html,
body {
    padding: 0;
    margin: 0;
    font-family: PP, helvetica, arial, sans-serif;
    background-color: #111111;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}