.sections {
    top: 70px;
    .outerWrapper {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateY(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
        .wrapper {
            display: flex;
            flex-direction: row;
            width: 400vw;
            transform: rotate(90deg) translateX(-100vh);
            transform-origin: top left;
        }
    }
     ::-webkit-scrollbar {
        display: none;
    }
}