.container {
    top: 70px;
    .wrapper {
        list-style-type: none;
    }
    .wrapper2 {
        list-style-type: none;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}