@import './colors.scss';
@import './responsive.module.scss';
.projectInner {
    display: flex;
    //justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 20px;
    width: fit-content;
    padding: 2rem 1.75rem;
    border-radius: 5px;
    margin-left: 10px;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-font-smoothing: antialiased;
    @include mobile {
        height: 4px;
        padding: 1.4rem 1.75rem;
    }
    .top {
        display: block;
        flex-direction: row;
        list-style-type: none;
        width: auto;
        margin-right: 20px;
        a {
            .projectTitle {
                margin: 0px 0px 0px;
                color: #fff;
                text-transform: uppercase;
                font-size: 54px;
                font-weight: 10;
                transition: all 0.2s ease;
                @include mobile {
                    font-size: 24px;
                }
            }
        }
    }
    .date {
        p {
            color: #fff;
            font-size: 13px;
            font-weight: 800;
            transition: all 0.2s ease;
        }
    }
}

.projectInner:hover {
    .top {
        a {
            .projectTitle {
                opacity: 30%;
            }
        }
    }
    .date {
        p {
            opacity: 30%;
        }
    }
}