@import './colors.scss';
@import './responsive.module.scss';
.projectInner {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 20px;
    width: auto;
    padding: 2rem 1.75rem;
    border: 0.1px solid #fff;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-font-smoothing: antialiased;
    @include miniTablet {
        height: 8px;
        padding: 1.5rem 1.75rem;
    }
    @include mobile {
        height: 4px;
        padding: 1.2rem 1.75rem;
    }
    .top {
        display: block;
        flex-direction: row;
        list-style-type: none;
        width: auto;
        margin-right: 20px;
        a {
            .projectTitle {
                margin: 0px 0px 0px;
                color: #fff;
                text-transform: uppercase;
                font-size: 4vw;
                font-weight: 10;
                transition: all 0.2s ease;
            }
        }
    }
    .date {
        p {
            color: #fff;
            font-size: 13px;
            font-weight: 800;
            transition: all 0.2s ease;
        }
    }
}

.projectInner:hover {
    .top {
        a {
            .projectTitle {
                opacity: 30%;
            }
        }
    }
    .date {
        p {
            opacity: 30%;
        }
    }
}