@import './responsive.module.scss';
@import './colors.scss';
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .topbar {
        display: flex;
        justify-content: flex-start;
        margin: 40px;
        .backMenu {
            a {
                color: #fff;
                font-size: 20px;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        @include tablet {
            flex-direction: column;
        }
        .left {
            margin: 40px;
            width: 50%;
            @include tablet {
                width: 90%;
            }
            @include phoneL {
                width: 80%;
            }
            .title {
                color: #fff;
                font-size: 70px;
                font-weight: 200;
                text-transform: uppercase;
                @include phoneL {
                    font-size: 40px;
                }
                @include mobile {
                    font-size: 30px;
                }
            }
            .title::after {
                content: '';
                width: 100%;
                color: #fff;
                display: inline-block;
                border-bottom: 3px solid #fff;
            }
            .description {
                color: #fff;
                font-size: 15px;
                font-weight: 200;
                @include mobile {
                    font-size: 12px;
                }
            }
            .delivered {
                color: #fff;
                font-size: 22px;
                font-weight: 200;
                letter-spacing: 1px;
                @include phoneL {
                    font-size: 15px;
                }
                @include mobile {
                    font-size: 12px;
                }
            }
            .retex {
                color: #fff;
                font-size: 22px;
                font-weight: 200;
                letter-spacing: 1px;
                @include phoneL {
                    font-size: 15px;
                }
                @include mobile {
                    font-size: 12px;
                }
            }
            .techList {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                padding: 0;
                gap: 20px;
                .tech {
                    font-weight: 600;
                    color: $lightRed;
                }
            }
        }
        .right {
            width: 50%;
            margin: 40px;
            background: #fff;
            @include tablet {
                width: 100%;
            }
        }
    }
}