.container {
    display: flex;
    flex-direction: row;
    .left {
        margin: 40px;
        width: 50%;
        .title {
            color: #fff;
            font-size: 100px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .title::after {
            content: '';
            width: 100%;
            color: #fff;
            display: inline-block;
            border-bottom: 3px solid #fff;
        }
        .description {
            color: #fff;
            font-size: 20px;
            font-weight: 200;
        }
        .delivered {
            color: #fff;
            font-size: 30px;
            font-weight: 200;
        }
        .retex {
            color: #fff;
            font-size: 30px;
            font-weight: 200;
        }
    }
    .right {
        width: 50%;
        margin: 40px;
    }
}