@import './responsive.module.scss';
@import './colors.scss';
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #535e5a;
    position: fixed;
    width: 100%;
    height: 100%;
    .topBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 30px;
        padding-bottom: 50px;
        .topBar_left {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 200px;
            @include miniTablet {
                gap: 50px;
            }
            .projectTitle {
                .title {
                    color: #fff;
                    font-size: 20px;
                    @include miniTablet {
                        font-size: 15px;
                    }
                }
            }
            .repoLink {
                .github {
                    color: #fff;
                    font-size: 20px;
                    @include miniTablet {
                        font-size: 15px;
                    }
                }
                .github::after {
                    content: '';
                    display: block;
                    width: 0%;
                    height: 1px;
                    background: #fff;
                    transition: 0.5s ease-in-out;
                }
                .github:hover::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                }
            }
        }
        .topBar_right {
            a {
                color: #fff;
                font-size: 20px;
                @include miniTablet {
                    font-size: 15px;
                }
            }
            a::after {
                content: '';
                display: block;
                width: 0%;
                height: 1px;
                background: #fff;
                transition: 0.5s ease-in-out;
            }
            a:hover::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 100px;
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 70px;
            width: 40%;
            height: 85%;
            @include miniTablet {
                width: auto;
                padding-left: 50px;
                padding-right: 50px;
            }
            .description {
                width: 100%;
                color: #fff;
                font-size: 32px;
                line-height: 40px;
                @include miniTablet {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            .projectInfo {
                margin-top: 70px;
                .projectInfo_title {
                    p {
                        color: #fff;
                        font-size: 20px;
                        text-transform: uppercase;
                        padding-bottom: 5px;
                        @include miniTablet {
                            font-size: 16px;
                        }
                    }
                }
                .projectInfo_title::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    opacity: 0.4;
                    background: #fff;
                }
                .projectType {
                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        p {
                            color: #fff;
                            font-size: 20px;
                            @include miniTablet {
                                font-size: 16px;
                            }
                        }
                        @include miniTablet {
                            padding-top: 7px;
                            padding-bottom: 7px;
                        }
                    }
                }
                .projectType::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    opacity: 0.4;
                    background: #fff;
                }
                .projectYear {
                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        p {
                            color: #fff;
                            font-size: 20px;
                            @include miniTablet {
                                font-size: 16px;
                            }
                        }
                        @include miniTablet {
                            padding-top: 7px;
                            padding-bottom: 7px;
                        }
                    }
                }
                .projectYear::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    opacity: 0.4;
                    background: #fff;
                }
            }
        }
        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 70px;
            .image {
                width: 600px;
                height: 400px;
                background-color: black;
            }
        }
        @include miniTablet {
            flex-direction: column;
        }
    }
}