@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
@import '../styles/responsive.module.scss';
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: red;
    .nav_logo {
        font-family: PP, helvetica, arial, sans-serif;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin-left: 30px;

    }
    .nav_items {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: absolute;
        justify-content: flex-end;
        margin-right: 30px;
        gap: 20px;
        @include mobile {
            position: absolute;
            top: 60px;
            display: flex;
            flex-direction: column;
            background-color: #111111;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .item {
            color: #fff;
            font-family: PP, helvetica, arial, sans-serif;
            font-weight: 40;
            font-size: 12px;
        }
        .nav_toggle {
            display: none;
            @include mobile {
                display: flex;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .bar {
                    position: relative;
                    width: 32px;
                    height: 2px;
                    background-color: #fff;
                }
                .bar::before, .bar::after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 2px;
                    transition: all .45s ease-in-out;
                }
                .bar::before {
                    width: 25px;
                    transform: translateY(-8px);
                    right: 0;
                }
                .bar::after {
                    width: 32px;
                    transform: translateY(8px);
                }
            }
        }
        @include miniTablet {
            height: 100vh;
            justify-content: center;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}