@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
@import '../styles/responsive.module.scss';
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: red;
    .left {
        display: flex;
        align-items: center;
        width: 100%;
        a {
            font-family: PP, helvetica, arial, sans-serif;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            margin-left: 30px;
        }
    }
    .right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .nav_items {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: flex-end;
            margin-right: 30px;
            gap: 20px;
            @include miniTablet {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            li {
                a {
                    color: #fff;
                    font-family: PP, helvetica, arial, sans-serif;
                    font-weight: 40;
                    font-size: 12px;
                }
            }
        }

        @include miniTablet {
            height: 100vh;
            justify-content: center;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}